



.header-top{
background-color: #60646D;
height: 45px;
}
.header-top ul{
 margin: 0px 14.25%;
}
.header-top ul li{
display: inline-block;
font-family: Raleway;
font-size: 14px;
font-style: normal;
font-weight: 300;
line-height: 16px;
letter-spacing: 0em;
color: #fff;
margin-top: 14px;
}
.header-top ul li span{
    color: #BBBFC9;
}
.header-top ul :nth-child(1){
    color:#BBBFC9;
}

/*   navbar start */

* {
    box-sizing: border-box;
  }
 
  body {
    margin: 0px;
    font-family: 'Raleway', sans-serif;
  }
 .navbar{
   position: sticky;
   top:0;
   left: 0;
 }
  .nav {
    height: 98px;
    width: 100%;
    background-color: #fff;
  }
  .nav > .nav-header {
    display: inline;
  }
  .nav > .nav-header > .nav-title {
    display: inline-block;
    margin-left: 14.25%;

    padding: 10px 10px 10px 10px;
  }
  .nav > .nav-btn {
    display: none;
  }
  .nav > .nav-links {
    display: inline;
    float: right;
    margin-right: 15.12%;
  }
  .nav > .nav-links > a {
    display: inline-block;
    padding: 13px 13px 13px 13px;
    text-decoration: none;
    color: #666666;
    font-family: Raleway;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
  }
  .active{
      background-color: #67C9E0;
  }
  
  @media(max-width:1500px){

    .nav > .nav-links > a{
        padding: 13px 8px 13px 8px;
        font-size: 14px;
    }
  }

  .nav > .nav-links > a:hover {
    background-color: rgba(0, 0, 0, 0.3);
  }
  .nav > #nav-check {
    display: none;
  }
 
/* dropdown start */
 
 

 
 
/* dropdown end */
 
 
 
 
 
 
 
  @media (max-width:600px) {
    .nav > .nav-btn {
      display: inline-block;
      position: absolute;
      right: 0px;
      top: 0px;
    }
    .nav > .nav-btn > label {
      display: inline-block;
      width: 50px;
      height: 50px;
      padding: 13px;
    }
    .nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
      background-color: rgba(0, 0, 0, 0.3);
    }
    .nav > .nav-btn > label > span {
      display: block;
      width: 25px;
      height: 10px;
      border-top: 2px solid #eee;
    }
    .nav > .nav-links {
      position: absolute;
      display: block;
      width: 100%;
      background-color: #333;
      height: 0px;
      transition: all 0.3s ease-in;
      overflow-y: hidden;
      top: 50px;
      left: 0px;
    }
    .nav > .nav-links > a {
      display: block;
      width: 100%;
    }
    .nav > #nav-check:not(:checked) ~ .nav-links {
      height: 0px;
    }
    .nav > #nav-check:checked ~ .nav-links {
      height: calc(100vh - 50px);
      overflow-y: auto;
    }
  }


/*   navbar end */